---
import { WORK_EXPERIENCE, CURRENT_WORK_EXPERIENCE } from "@/lib/data";
import ExternalLink from "@/icons/external-link.astro";

interface Props {
	detailed?: boolean;
}

const { detailed = false } = Astro.props;
---

<section style="--stagger-index: 1">
	{
		!detailed && (
			<>
				<div class="mb-3 flex items-center justify-between">
					<h1 class="max-sm:text-md text-left font-medium">
						Work
					</h1>
					<a
						href="/work"
						class="text-sm decoration-blue-400 decoration-wavy decoration-2 underline-offset-4 hover:underline max-sm:underline dark:decoration-blue-300"
					>
						See all work
					</a>
				</div>
				<p class="text-muted leading-relaxed">
					{CURRENT_WORK_EXPERIENCE}
				</p>
			</>
		)
	}
	{
		detailed && (
			<>
				<h1 class="max-sm:text-md mb-6 text-left text-lg font-semibold">
					Work
				</h1>
				<div class="text-muted stagger-container flex flex-col gap-12">
					{WORK_EXPERIENCE.map((work, idx) => (
						<div
							class="flex flex-col gap-3"
							style={`--stagger-index: ${idx}`}
						>
							<div>
								<div class="flex items-center gap-1">
									<a
										href={work.url}
										class="text-foreground font-semibold decoration-blue-400 decoration-wavy decoration-2 underline-offset-2 hover:underline max-sm:underline dark:decoration-blue-300"
										target="_blank"
									>
										{work.company}
									</a>
									<ExternalLink height={16} width={16} />
								</div>
								<h2 class="text-sm font-medium">
									{work.position}
								</h2>
								<p class="text-sm">
									{work.startDate} - {work.endDate}
								</p>
							</div>
							<ul class="flex flex-col gap-1 leading-relaxed font-light max-sm:text-sm">
								{work.responsibilities.map((item) => (
									<li class="star-list mb-1">{item}</li>
								))}
							</ul>
						</div>
					))}
				</div>
			</>
		)
	}
</section>

<style>
	.star-list {
		list-style: none;
		position: relative;
		padding-left: 1rem;
	}

	.star-list::before {
		position: absolute;
		content: "*";
		font-size: 1.5rem;
		left: 0;
	}
</style>
